/**
 *  Global
 *
 *  @desc generic styles that affect the global scope
 */

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  transition: all 0.3s ease;
}

.divider {
  display: block;
  width: 50px;
  height: 3px;
}

.offset-top {
  padding-top: 56px;
}

.is-auth-page {
  background: $light;
  position: fixed;
  overflow: hidden;
  display: flex;
  width: 100%;
  flex-flow: column;
  justify-content: center;

  .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
}
