/**
 *	Side panel
 */

@import "../../styles/vendor/bootstrap/utils.scss";

$side-panel-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
$side-panel-padding: $grid-gutter-width;
$side-panel-width: 300px;

$side-panel-header-height: 70px;
$side-panel-header-bg: #111;
$side-panel-header-color: #333;
$side-panel-header-align: center;

$side-panel-item-font-size: 0.9rem;
$side-panel-item-font: inherit;
$side-panel-item-padding: $grid-gutter-width/2 $grid-gutter-width;
$side-panel-item-color-active: $primary;

$side-panel-transitions: ("left", "right");
$side-panel-transitions-start: (
  "left": -$side-panel-width,
  "right": $side-panel-width
);

.sidepanel {
  display: flex;
  position: fixed;
  top: 0;
  width: $side-panel-width;
  height: 100%;
  z-index: 1050;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  background: black;

  .sidepanel_body {
    width: 100%;
    padding: $side-panel-padding;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    flex-direction: column;
    transition: all 0.3s ease 0.15s;

    .active {
      font-weight: bold;
    }
  }

  .sidepanel_logo {
    display: inline-block;

    &:hover {
      text-decoration: none;
    }
  }

  .sidepanel_bottom {
    position: absolute;
    bottom: $side-panel-padding;
  }

  /* ----------------
     Variations
    ----------------- */

  &.sidepanel-oncanvas {
    @include media-breakpoint-up(lg) {
      transform: translateX(0) !important;
      opacity: 1;
      box-shadow: none !important;

      .sidepanel_body {
        transform: translateX(0) !important;
        opacity: 1;
      }
    }
  }

  @each $position in $side-panel-transitions {
    &.sidepanel-#{$position} {
      #{$position}: 0;
      transform: translateX(map-get($side-panel-transitions-start, $position));

      .sidepanel_body {
        transform: translateX(
          map-get($side-panel-transitions-start, $position) / 3
        );
      }
    }
  }

  &.sidepanel-shadow {
    box-shadow: 0 0 $grid-gutter-width/2 rgba(0, 0, 0, 0.1);
  }

  /* ----------------
     In State
 ----------------- */

  &.in {
    opacity: 1;
    transform: translateX(0);

    .sidepanel_body {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

/* ----------------
     Overlay
 ----------------- */

.sidepanel-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
}

/* ----------------
     Body style
 ----------------- */

.sidepanel-active {
  overflow: hidden;
}
